@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>Animal Shelter</h1>

      <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Sort Type
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/cat/name">Name</a>
          <a class="dropdown-item" href="/cat/breed">Breed</a>
          <a class="dropdown-item" href="/cat/age">Age</a>
          <a class="dropdown-item" href="/cat/date">Date Of Admittance</a>
          <a class="dropdown-item" href="/cat/gender">Gender</a>
        </div>
      </div>

  </div>
